{{ if .Params.header.image }}
<div class="article-header" style="background-image: url({{ "/img/" | relURL }}{{ .Params.header.image }});">
  <h1 itemprop="name" >{{ .Title }}</h1>
  {{ with .Params.summary }}<h4 class="article-header-summary">{{ . | markdownify }}</h4>{{ end }}
  <!--<img src="{{ "/img/" | relURL }}{{ .Params.header.image }}" class="article-banner" itemprop="image">-->
  {{ with .Params.header.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{ else }}
<div class="article-header">
  <h1 itemprop="name">{{ .Title }}</h1>
  {{ with .Params.summary }}<h4 class="article-header-summary">{{ . | markdownify }}</h4>{{ end }}
</div>  
{{end}}
